{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "User Profile" %}{% endblock %}

{% block content %}

<h1>{% trans "User Profile" %}</h1>

<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.profile_pic.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <!-- FORM HERE -->
</div>

<!-- <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit", class="btn btn-outline-primary">Sign Up</button>
</form> -->

{% endblock %}