{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-lg-6 offset-lg-4">
    <div class="col-6">
        <h2>Forgotten your password?</h2>
        <p>Enter your e-mail address to obtain a new password.</p>
        <form method="post">
            {{ form|crispy }}
            <button type="submit", class="btn btn-success">Send E-mail</button>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}