{% extends 'base.html' %}
{% load static %}
{% block head_title %}Let's Test Your Tibetan{% endblock %}

{# Empty the message block so that messages are consumed but not displayed. #}
{% block message_block %}{% endblock %}

{% block main %}
<div class="hero px-4 py-5 text-center">
    <h1 class="display-5 fw-bold">Build Your Vocabulary with Personalized Tests</h1>
    <img class="d-block mx-auto" src="{% static 'troffe.svg' %}" alt="Winning Troffe" width="300", height="200" style="fill: #0d6efd">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
           Tests are generated based on your proficiency level using the <a href="https://en.wikipedia.org/wiki/Spaced_repetition">Spaced Repetition</a> algorithm.
           <span class="text-muted">You can also track your progress and share with others.</span>
      </p>
      <a href="{% url 'quiz:spelling-mcq' 'C1' %}" class="cta btn btn-primary btn-lg px-4" >Take the Test Now</a>
    </div>
</div>
<div class="features container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card border-dark mb-3">
                <div class="card-header bg-dark text-light text-center h1">Spelling Test</div>
                <div class="card-body">
                    <p class="card-text">
                        Practice your spelling by trying our exercises. Each sentence introduces you to one new word and one that your not confident with - a steady way to build your vocabulary.
                    </p>
                    <a href="{% url 'quiz:spelling-mcq' 'C1' %}" class="btn btn-primary stretched-link">Start here</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card border-dark mb-3">
                <div class="card-header bg-dark text-light text-center h1">Vocabulary Test</div>
                <div class="card-body">
                    <p class="card-text">
                        Discover your Tibetan vocabulary in 10 minutes! After completion, you will be advised of the number of Tibetan words you know.
                    </p>
                    <a href="#" class="btn btn-primary stretched-link">Start here</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
